label {
  display: block;
  margin-bottom: 10px;
}

h2{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  color: #ffffff;
  background-color: rgb(77, 77, 77);
  width: 100%;
}

#blacklay{
  background-color: #111e36;
}


#card{
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 10px;
  border-radius: 3px;
  border-color: #0000;
}

#btn{
  padding: 0.5em 1em;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}